body{
  /* make all text courier, set margin and padding to 0 */
  font-family: “Lucida Grande”, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}
h1{
  text-align: center;
  font-size: 64px;
}
p{
  padding: 15px top;
  font-size: 16px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}
h2{
  font-size: 32px;
  text-shadow: 4px 4px 2px black;
}
div{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#red{
  background-color: red;
  text-align: right;
}
#blue{
  background-color: blue;
  text-align: left;
}
#yellow{
  background-color: yellow;
  text-align: right;
  color: black;
  h2{
    text-shadow: 4px 4px 2px grey;
  }
}
#green{
  background-color: green;
  text-align: left;
}
footer{
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
}
